#list th,
#list td
{
  border: 1px dotted silver;
}

#list
{
  border: 1px solid gray;
}

#menu li
{
  display: inline;
  list-style-type: none;
}

input
{
  width: 7em;
  background-color: #ccddff;
}

input.date
{
  width: 13em;
  background-color: #ccddff;
}

input.checkbox
{
  width: inherit;
}


button.order
{
  float: right;
}

#filterApply
{
  float: right;
}

#workAsAdmin
{
  float: right;
  clear: both;
}

table#reservation th
{
  text-align: left;
}

#connected-clients
{
  float: right;
  border: 1px solid black;
  clear: none;
  padding: 5px;
}
